@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: rgb(8, 8, 8);
  color: #e1e1e1;
  font-family: "Poppins", sans-serif;
}
.custom-scrollbar {
  height: 80vh;
  padding: 10px;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox: Makes scrollbar thinner */
  scrollbar-color: #222222 rgb(8, 8, 8)  ; /* For Firefox: Handle and track color */
}
.inherit{
  width: inherit;
  height: inherit;
}
.teko{
  font-family: 'Teko',sans-serif;
}
.custom-shadow-red{
  box-shadow: rgba(255, 0, 64, 0.4) 0px 1px 2px 0px, rgba(240, 3, 38, 0.5) 0px 1px 3px 1px;
}
.custom-shadow-green{
  box-shadow: rgba(0, 255, 94, 0.4) 0px 1px 2px 0px, rgba(145, 240, 3, 0.5) 0px 1px 3px 1px;
}
.custom-shadow-yellow{
  box-shadow: rgba(255, 247, 0, 0.4) 0px 1px 2px 0px, rgba(240, 232, 3, 0.5) 0px 1px 3px 1px;
}
.custom-shadow-blue{
  box-shadow: rgba(4, 0, 255, 0.4) 0px 1px 2px 0px, rgba(15, 3, 240, 0.5) 0px 1px 3px 1px;
}

.email-container {
  position: relative;
  display: inline-block;
}

.email-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem; 
  border-radius: 9999px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
}

.email-initial:hover .email-full {
  opacity: 1;
  visibility: visible;
  font-size: 1rem;
}

.email-full {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border-radius: 0.5rem; 
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  color: white;
}
.bg-img{
  background-image: url('imgs/diamond-bg.svg');
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4c5155;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.shimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(45deg, #475569 0%, #334155 20%, #475569 40%, #334155 100%);
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite linear;
}

@keyframes shimmer {
  0% {
      background-position: -200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}